.nav-link{
    color: blueviolet;
}
footer{
    background-color: blueviolet;
}
.navbar-brand{
    img{
    width: 64px;
    height: 50px;
    background-color: aliceblue;
}
}
header{
    background-color: aliceblue;
}
#fotos-trabajos img{
    width: 500px;
    height: 250px;
}
#link-coder{
    text-decoration-line: none;
    text-decoration: solid;
    color: blueviolet;
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: solid;
    border: solid black;
}
    
